@media (max-width: 768px) {

  .header {
    flex-direction: column;
  }
  
  .logo h1 {
    font-size: 40px;
  }

  .menu {
    flex-direction: column;
    margin-top: 83px;
  }
  
  .menu li {
    padding: 17px 0;
  }

  .menu li:last-child {
    margin-top: 20px;
  }
  
  .menu li a {
    font-size: 40px;
    padding: 17px 40px;
  }

  .menu li a.botao {
    font-size: 18px;
    padding: 15px 22px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
    /* .container {
        flex-direction: column;
        margin: 0;
    }

    .menu-navegacao {
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .logo {
        justify-content: center;
        margin: 47px 86px 100px 76px;
        width: 213px;
    }

    .logo .nome-empresa {
        font-size: 40px;
        padding-left: 8px;
    }

    .menu-navegacao li {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .menu-navegacao .home {
        margin-bottom: 33px;
    }

    .menu-navegacao .sobre {
        height: 81px;
        width: 274px;
        line-height: 81px;
        margin-bottom: 33px;
    }

    .menu-navegacao .cadastre-se {
        width: 151px;
        height: 55px;
        font-size: 18px;
        line-height: 55px;
    } */
}